.landing-page {
    --primary-color: #e50194;
    font-family: var(--fb-font);
    -webkit-font-smoothing: antialiased;
    color: #999;
}

.landing-page, .landing-page * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.landing-page ul {
    list-style: none;
}

.landing-page h1,
.landing-page h2,
.landing-page h3,
.landing-page h4 {
    color: #fff;
}

.landing-page a {
    color: #fff;
    text-decoration: none;
}

.landing-page p {
    margin: 0.5rem 0;
}

.landing-page img {
    width: 100%;
    position: center;
}

.landing-page.showcase {
    width: 100%;
    height: 93vh;
    position: relative;
    background: linear-gradient(135deg, #000 0%, #111 55%, #000 100%);
  
}

.landing-page.showcase::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
    
}

.landing-page .showcase-top {
    position: relative;
    z-index: 2;
    height: 90px;
}

.landing-page .showcase-top img {
    width: 170px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 0;
}

.top-actions {
    position: absolute;
    top: 10%;
    right: 5px;
    display: flex;
    align-items: center;
    gap: 12px;
    z-index: 3;
}

.landing-page .showcase-content {
    position: relative;
    z-index: 2;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 9rem;
}

.landing-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.landing-page .showcase-content h1 {
 font-weight: 700;
 font-size: 3.2rem;
 line-height: 1.1;
 margin : 0 0 2rem;
 }

.landing-page .showcase-content p {
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.25;
    margin : 0 0 2rem;
}

/* Button */

.landing-page .btn {
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    padding: 0.2rem 1.3rem;
    font-size: 1.1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: 0.3rem;
    outline: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    border-radius: 2px;
}

.landing-page .btn:hover {
    opacity: 0.9;
}

.landing-page .btn-rounded {
    border-radius: 3px;
    --primary-color: #6e6976;
}

.landing-page .btn-xl {
    font-size: 1rem;
    padding: 1.1rem 1.0rem;
    text-transform: uppercase;
    --primary-color: #6e6976;
    
}

.landing-page .btn-lg {
    font-size: rem;
    padding: 0.8rem 1.3rem;
    text-transform: uppercase;
}

.landing-page .btn-icon {
    margin-left: 1rem;
}


