.navbar {
  background-color: #4caf50;
  padding: 10px;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
}

.navbar ul li a:hover {
  text-decoration: underline;
}
